.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.with-full-cover.is-head-brand .site-content {
    padding: 0 0;
}

.site-content {
    flex-grow: 1;
    padding: 6vmin 0;
}

.is-head-brand .site-content {
    padding-top: max(8vmin, 5rem);
}

.gh-foot-items {
    display: flex;
}

.gh-foot-location {
    max-width: 500px;
    text-align: center;
}